/* Add the following styles at the end of the existing CSS */

#harold-puttaert {
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height */
  margin: 0; /* Remove default margin */
}

.header-section {
  position: center;
  text-align: center;
  color: white;
  overflow: hidden;
  height: 200px; /* Set a fixed height for the header section */
}

.header-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.header-title {
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title h2 {
  font-size: 2em;
  background-color: navy;
  padding: 10px;
  border-radius: 5px;
}

/* Contact Section Styles */
.contact-section {
  padding: 20px;
  background-color: #fff; /* White background */
  margin: 20px auto; /* Center the section horizontally */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 18px;
  text-decoration: none; 
  background-color: navy;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.btn:hover {
  background-color: #333;
}

.btn-contact {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 18px;
  text-decoration: none; 
  background-color: navy;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.btn-contact:hover {
  background-color: #333;
}

.btn-download {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 18px;
  text-decoration: none; 
  background-color: #006400;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.btn-download:hover {
  background-color: #006400;
}

.social-icons {
  text-align: center;
}

.social-icons img {
  width: 5px;
  height: 5px;
  margin: 5px;
}

/* Placeholder Styles for Other Sections */
.experience-section,
.education-section,
.core-competences-section,
.certifications-section,
.languages-section,
.additional-info-section {
  padding: 20px;
  background-color: #fff; /* White background */
  margin: 20px auto; /* Center the section horizontally */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
